{% extends 'base.html' %}

{% block titulo %} Alteração de Fornecedores {%endblock%}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary"> Alterar {{ fornecedor.nome }} 🚚 </label>
       </h3>
    </div>
</div>
{% endblock %}
{% block corpo %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Nome</h6></label>
        <input type="text" class="form-control" name="nome" id="nome" value="{{ fornecedor.nome }}" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Fantasia</h6></label>
        <input type="text" class="form-control" name="fantasia" id="fantasia" value="{{ fornecedor.fantasia }}" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>E-mail</h6></label>
        <input type="text" class="form-control" name="email" id="email" value="{{ fornecedor.email }}" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>CPF/CNPJ</h6></label>
        <input type="text" class="form-control" name="CpfCnpj" id="CpfCnpj" value="{{ fornecedor.CpfCnpj }}" required>
    </div>
    <div class="mb-3">
        <h6><label for="tp_pessoa">Tipo de Pessoa</label></h6> 
        <select name="tp_pessoa" id="tp_pessoa" class="form-select">
            <option value="0">Selecione</option>
            {% for tp in tipo %}
            {% if tipoPessoa == tp.id %}
            <option value="{{ tp.id }}" selected>{{ tp.descricao }}</option>
            {% else %}
            <option value="{{ tp.id }}">{{ tp.descricao }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-success" value="Enviar"> </input>
        <input type="reset" class="btn btn-outline-danger" value="Cancelar"> </input>
    </div>
</form>
{% endblock %}