{% extends 'base.html' %}

{% block titulo %} Alteração de Itens {%endblock%}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary"> Alterar {{ item.descricao }} 💻 </label>
       </h3>
    </div>
</div>
{% endblock %}
{% block corpo %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Descrição</h6></label>
        <input type="text" class="form-control" name="descricao" id="descricao" value="{{ item.descricao }}" required>
    </div>
    <div class="mb-3">
        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria" class="form-select">
            <option value="0">Selecione</option>
            {% for cat in categoria %}
            {% if tipoCategoria == cat.id %}
            <option value="{{ cat.id }}" selected>{{ cat.nome }}</option>
            {% else %}
            <option value="{{ cat.id }}">{{ cat.nome }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-success" value="Enviar"> </input>
        <input type="reset" class="btn btn-outline-danger" value="Cancelar"> </input>
    </div>
</form>
{% endblock %}