{% extends 'base.html' %}

{% block titulo %} Alteração de Estado {%endblock%}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary"> Alterar {{ estado.nome }} 🗺 </label>
       </h3>
    </div>
</div>
{% endblock %}
{% block corpo %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Sigla</h6></label>
        <input type="text" class="form-control" name="sigla" id="sigla" value="{{ estado.sigla }}" required>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Nome</h6></label>
        <input type="text" class="form-control" name="nome" id="nome" value="{{ estado.nome }}" required>
    </div>   
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-success" value="Enviar"> </input>
        <input type="reset" class="btn btn-outline-danger" value="Cancelar"> </input>
    </div>
</form>
{% endblock %}