{% extends 'base.html' %}

{% block titulo %} Exclusão de Estado {%endblock%}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary"> Excluir Estado 🗺 </label>
       </h3>
    </div>
</div>
{% endblock %}
{% block corpo %}
<form action="">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Sigla</h6></label>
        <input type="text" class="form-control" id="sigla" readonly>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Nome</h6></label>
        <input type="text" class="form-control" id="nome" readonly>
    </div>   
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-success" value="Excluir"> </input>
        <a href="estados"><input type="reset" class="btn btn-outline-danger" value="Cancelar"></a>
    </div>
</form>
{% endblock %}