{% extends 'base.html' %}

{% block titulo %} Exclusão de Categoria {%endblock%}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary"> Excluir {{ categoria.nome }} 🧾 </label>
       </h3>
    </div>
</div>
{% endblock %}
{% block corpo %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Categoria</h6></label>
        <input type="text" class="form-control" id="nome" value="{{ categoria.nome }}" readonly>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-success" value="Enviar"> </input>
        <a href="categorias"><input type="reset" class="btn btn-outline-danger" value="Cancelar"></a>
    </div>
</form>
{% endblock %}