{% extends 'base.html' %}

{% block titulo %} Exclusão de Clientes {%endblock%}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary"> Excluir {{ cliente.nome }} 👨‍💼👩‍💼 </label>
       </h3>
    </div>
</div>
{% endblock %}
{% block corpo %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>Nome</h6></label>
        <input type="text" class="form-control" id="nome" value="{{ cliente.nome }}" readonly>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>CPF/CNPJ</h6></label>
        <input type="text" class="form-control" id="CpfCnpj" value="{{ cliente.CpfCnpj }}" readonly>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"><h6>E-mail</h6></label>
        <input type="text" class="form-control" id="email" value="{{ cliente.email }}" readonly>
    </div>
    <div class="mb-3">
        <h6><label for="tp_pessoa">Tipo de Pessoa</label></h6> 
        <select name="tp_pessoa" id="tp_pessoa" class="form-select" disabled>
            <option value="0">Selecione</option>
            {% for tp in tipo %}
            {% if tipoPessoa == tp.id %}
            <option value="{{ tp.id }}" selected>{{ tp.descricao }}</option>
            {% else %}
            <option value="{{ tp.id }}">{{ tp.descricao }}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-outline-success" value="Excluir"> </input>
        <a href="clientes"><input type="reset" class="btn btn-outline-danger" value="Cancelar"></a>
    </div>
</form>
{% endblock %}