{% extends 'base.html' %}

{% block titulo %} Lista  de Fornecedores {% endblock %}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary">Lista de Fornecedores 🚚 </label>
       </h3>
    </div>
</div>
{% endblock %}

{% block corpo %}
<div class="container">
    <div class="row justify-content-md-center">
        {% if total > 0%}
       <h6>
           <label class="text-secondary">Fornecedores Cadastrados</label>
       </h6>
    </div>
    <div class="row justify-content-md-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Fantasia</th>
                <th scope="col">E-mail </th>
                <th scope="col">CPF/CNPJ </th>
                <th class="text-center" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedor %}
              <tr>
                <td>{{ fornecedor.nome }}</td>
                <td>{{ fornecedor.fantasia }}</td>
                <td>{{ fornecedor.email}}</td>
                <td>{{ fornecedor.CpfCnpj}}</td>
                <td class="text-center">
                    <a href="altera-fornecedor/{{ fornecedor.id }}"><button class="btn">⚙</button></a>
                    <a href="exclui-fornecedor"><button class="btn">❌</button></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <label> Total de registros: <b> {{ total }} </b></label>
                    </td>
                </tr>
            </tfoot>
          </table>
          {% else %}  
          <h3>Não existem fornecedores cadastrados. </h3>
          {% endif %}
     </div>
</div>

{% endblock %}

{% block pe %}
<div class="container">
    <a href="cadastra-fornecedor"><button class="btn btn-outline-success">Novo</button></a>
</div>
{% endblock %}