{% extends 'base.html' %}

{% block titulo %} Lista de Usuários {% endblock %}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary">Lista de Usuários 👩‍💻 </label>
       </h3>
    </div>
</div>
{% endblock %}

{% block corpo %}
<div class="container">
    <div class="row justify-content-md-center">
        {% if total > 0 %}
       <h6>
           <label class="text-secondary">Usuários Cadastrados </label>
       </h6>
    </div>
    <div class="row justify-content-md-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Usuário </th>
                <th class="text-center" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for usuario in usuario %}
              <tr>
                <td>{{ usuario.nome }}</td>
                <td>{{ usuario.login }}</td>
                <td class="text-center">
                    <a href="altera-usuario/{{ usuario.id }}"><button class="btn">⚙</button></a> 
                    <a href="exclui-usuario"><button class="btn">❌</button></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <label> Total de registros: <b> {{ total }} </b></label>
                    </td>
                </tr>
            </tfoot>
          </table>
          {% else %}  
          <h3>Não existem usuários cadastradas. </h3>
          {% endif %}
     </div>
</div>
{% endblock %}

{% block pe %}
<div class="container">
    <a href="cadastra-usuario"><button class="btn btn-outline-success">Novo</button></a>
</div>
{% endblock %}
