{% extends 'base.html' %}

{% block titulo %} Lista de Categorias {% endblock %}

{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary">Lista de Categorias 🧾</label>
       </h3>
    </div>
</div>
{% endblock %}

{% block corpo %}
<div class="container">
    <div class="row justify-content-md-center">
        {% if total > 0 %}
       <h6>
           <label class="text-secondary">Categorias Cadastradas</label>
       </h6>
    </div>
    <div class="row justify-content-md-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th class="text-center" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  {% for cat in categoria %}
                <td>{{ cat.nome }}</td>
                <td class="text-center">
                    <button class="btn" onclick="location.href='altera-categoria/{{ categoria.id }}'">⚙</button></a>
                    <a href="exclui-categoria"><button class="btn">❌</button></a> 
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <label> Total de registros: <b> {{ total }} </b></label>
                    </td>
                </tr>
            </tfoot>
          </table>
          {% else %}  
          <h3>Não existem categorias cadastradas. </h3>
          {% endif %}
        </div>
</div>
{% endblock %}

{% block pe %}
<div class="container">
    <a href="cadastra-categoria"><button class="btn btn-outline-success">Novo</button></a>
</div>
{% endblock %}