{% extends 'base.html' %}

{% block titulo %} Lista de Clientes {% endblock %}

{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary">Lista de Clientes 👩‍💼👨‍💼</label>
       </h3>
    </div>
</div>
{% endblock %}

{% block corpo %}
<div class="container">
    <div class="row justify-content-md-center">
        {% if total > 0%}
       <h6>
           <label class="text-secondary">Clientes Cadastrados</label>
       </h6>
    </div>
    <div class="row justify-content-md-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">CPF | CNPJ</th>
                <th scope="col">Tipo de Pessoa</th>
                <th class="text-center" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for cli in cliente %}
              <tr>
                <td>{{ cli.nome}}</td>
                <td>{{ cli.email}}</td>
                <td>{{ cli.CpfCnpj}}</td>
                <td>{{ cli.tp_pessoa}}</td>
                <td class="text-center">
                    <a href="altera-cliente/{{ cli.id }}"><button class="btn">⚙</button></a>
                    <a href="exclui-cliente/{{ cli.id }}"><button class="btn">❌</button></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <label> Total de registros: <b> {{ total }} </b></label>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% else %}  
        <h3>Não existem clientes cadastrados. </h3>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block pe %}
<div class="container">
    <a href="cadastra-cliente"><button class="btn btn-outline-success">Novo</button></a>
</div>
{% endblock %}