{% extends 'base.html' %}

{% block titulo %} Lista de Itens {% endblock %}
{% block cabeca %}
<div class="container">
    <div class="row justify-content-md-center">
       <h3>
           <label class="text-primary">Lista de Itens 💻</label>
       </h3>
    </div>
</div>
{% endblock %}

{% block corpo %}
<div class="container">
    <div class="row justify-content-md-center">
        {% if total > 0%}
       <h6>
           <label class="text-secondary">Itens Cadastrados</label>
       </h6>
    </div>
    <div class="row justify-content-md-center">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Descrição</th>
                <th class="text-center" scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  {% for item in item %}
                <td>{{ item.descricao }}</td>
                <td class="text-center">
                    <a href="altera-item/{{ item.id }}"><button class="btn">⚙</button></a>
                    <a href="exclui-item/{{ item.id }}"><button class="btn">❌</button></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <label> Total de registros: <b> {{ total }} </b></label>
                    </td>
                </tr>
            </tfoot>
          </table>
          {% else %}  
          <h3>Não existem itens cadastrados. </h3>
          {% endif %}
    </div>
</div>
{% endblock %}

{% block pe %}
<div class="container">
    <a href="cadastra-item"><button class="btn btn-outline-success">Novo</button></a>
</div>
{% endblock %}